/* 设置网页的公共样式 */

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 14px;
    font-family: "微软雅黑";
    color: #000303;
}

a {
    text-decoration: none;
    color: #000303;
}

img,
input {
    padding: 0;
    margin: 0;
    border: none;
}

/* 清除浮动 */
.clearfix::after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

.clearfix {
    *zoom: 1;
}

.w {
    width: 1200px;
    margin: 0 auto;
}